@import url('bootstrap');

img{
    max-width:20%;
    max-height:100%;
}

.nav-link{
    font-size: smaller;
}

span{
    font-size: smaller;
}

.jumbotron{
    background-image: url(public/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

ul{
    list-style: none;
    padding-left: 0%;
}

li{
    color: grey;
}

.blackbar{
    background-color: rgb(75, 74, 74);
}

