@import url('bootstrap');

img{
    max-width:20%;
    max-height:100%;
}

/*header*/

.nav-link{
    font-size: smaller;
}

/*main*/

.jumbotron-1{
    background-image: url(public/img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

p{
    font-size: smaller;
}

/*footer*/

.jumbotron-2{
    background-image: url(public/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

ul{
    list-style: none;
    padding-left: 0%;
    
    li{
        color: grey;
    }
}


.blackbar{
    background-color: rgb(75, 74, 74);
    max-height: auto;
}
